<div class="wrapper">
  <div class="genre" routerLink="/albums/rock"><p class="name">Rock</p></div>
  <div class="genre" routerLink="/albums/electro"><p class="name">Electro</p></div>
  <div class="genre" routerLink="/albums/hip-hop"><p class="name">Hip-Hop</p></div>
  <div class="genre" routerLink="/albums/pop"><p class="name">Pop</p></div>
  <div class="genre" routerLink="/albums/r&b"><p class="name">R&B</p></div>
  <div class="genre" routerLink="/albums/indie"><p class="name">Indie</p></div>
</div>
